<ion-view view-title="Direct Care" hide-nav-bar="true">
    <div class="bar bar-header bar-calm">
        <h1 class="title">Direct Care</h1>
    </div>
    <div class="bar bar-subheader">
  <h2 class="title">โปรดตอบคำถามสักสองสามอย่าง</h2>
</div>
    <ion-content>

        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="First Name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Last Name">
            </label>
            <label class="item item-input">
                <textarea placeholder="Comments"></textarea>
            </label>
        </div>
        <a href="#/side-menu21/page1">ไปหน้า welcome</a>
    </ion-content>
</ion-view>
