<ion-view view-title="health Aid">
    <ion-content>
  
  <div class="list card">

  <div class="item item-avatar">
    <img src="mcfly.jpg">
    <h2>นายนขรินทร์ อัตถจรรยากุล</h2>
    <p>BMI : </p>
    <p>สุขภาพ : </p>
  </div>

  <div class="item item-body">
    <p>
      ประวัติอาการต่างๆ
    </p>
    <p>
      <a href="#" button class="button button-block button-assertive">แก้ไข</a>
    </p>
  </div>

</div>


  <div class="list card">

   
    <a class="item item-avatar" href="#/app/browse">
      <img src="img/5.jpg">
      <h2>อาการของโรคต่างๆ</h2>
    </a>
    <a class="item item-avatar" href="#/app/playlist">
      <img src="img/6.png">
      <h2>การปฏิบัติและรักษาเบื่องต้น</h2>
    </a>
    <a class="item item-avatar" href="#/app/search">
      <img src="img/1.jpg">
      <h2>การปฐมพยาบาลเบื้องต้น</h2>
    </a>
    <a class="item item-avatar" href="#">
      <img src="img/4.png">
      <h2>ความรู้เรื่องสมุนไพร</h2>
    </a>
    <a class="item item-avatar" href="#">
      <img src="img/2.jpg">
      <h2>โรงพยาบาล</h2>
    </a>
    <a class="item item-avatar" href="#">
      <img src="img/3.png">
      <h2>ปรึกษาปัญหาสุขภาพ</h2>
    </a>
    


  </div>

  </ion-content>
 
</ion-view>
