<ion-view view-title="Direct Care" >
<ion-nav-bar class="bar-calm" align-title="center">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

<ion-content class="has-header">
<ul class="list">
    <li class="item">
      โปรดกรอกข้อมูลด้านล่าง...
    </li>
     <div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="John">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="Suhr">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="john@suhr.com">
  </label>
</div>
</ul>

      



        <a href="#/side-menu21/page1">ไปหน้า welcome</a>
    </ion-content>
</ion-view>
